*
{
	margin: 0;
	padding: 0;
}

#bg
{
	opacity:0.8;
    background-color:pink;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#text
{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	position:absolute;
	left:45%;
	top:45%;
	margin:-100px 0 0 -150px;
	font-size: 35px;
	font-family: sans-serif;
}

#submitwrap
{
	
	line-height: 100px;
	margin: 0 auto;
	margin-top: -10px;
}


.inputzip
{
	width: 250px;
	height: 40px;
	font-size: 35px;
	top: 45%;
}

