*
{
	margin: 0;
	padding: 0;
}

#bg
{
	opacity:0.5;
    //background-color:pink;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

#text
{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	position:absolute;
	left:45%;
	top:30%;
	margin:-100px 0 0 -150px;
	font-size: 35px;
	font-family: sans-serif;
}

#submitwrap
{
	
	line-height: 100px;
	margin: 0 auto;
	margin-top: -10px;
}


.inputzip
{
	width: 250px;
	height: 40px;
	font-size: 35px;
	top: 45%;
}

input
{
	text-align: center;
}

#geotest
{
	height: 350px;
	width: 400px;
	line-height: 80px;
	//background-color: #5ab669;
	margin: 0 auto;
}

#btn
{
	dislplay: none;
}